@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
    <title>Game Jam - Fun</title>
    <meta property="og:image" content="http://gamejamfun.jok.io/Images/user_avatar_hp_4.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div id="Game">
        <img class="user_avatar" data-hp="5" src="~/Images/user_avatar_hp_5.png" />
        <div class="balance">
            <img class="tomato" src="~/Images/tomato.png" style="position: relative;" />
            <span>100</span>
        </div>
        <img class="tribuna" src="~/Images/gift-package.png" />
        <div class="starting">
            <img src="~/Images/gamejam.png" /><br />
            <button id="StartGame" class="btn btn-default">მოხსენების დაწყება</button>
        </div>
        <div class="result">გილოცავთ, თქვენ გაიმარჯვეთ!</div>
    </div>
    <div>

    </div>
    <script src="http://debug.jok.io/target/target-script-min.js#anonymous"></script>
</body>
</html>
